<!-- 클라이언트 측 HTML (aPost.ejs 파일 내에 추가) -->
<div class="callPost">
    <div class="callPostLeft">
        <div class="postWrittenDay" id="post_created_at">
            <% const formattedDate = new Date(post.created_at).toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul' }); %>
            <% const formattedTime = new Date(post.created_at).toLocaleTimeString('ko-KR', { timeZone: 'Asia/Seoul', hour12: false }); %>
            <span id="day1"><%= formattedDate %></span><br>
            <span id="day2"><%= formattedTime %></span> 
        </div>
        <a href="/otherProfile?userId=<%= post.user_id %>">
            <div class="postWriterImg" style="background-image: url('<%= post.profile_image %>');">
                <div class="writerFollowBT">팔로우</div>
            </div>
        </a>
        <div class="postWriterName alignment">
            <span><%= post.user_name %></span>
        </div>
        <div class="postStack">
            <div class="postLike alignment">
                <button id="likeButton-<%= post.id %>" data-postid="<%= post.id %>">좋아요</button>
                <span id="likesCount-<%= post.id %>"><%= post.likes %></span>
            </div>
            <div class="postComments alignment">
                <button>댓글</button>
                <span id="commentsCount-<%= post.id %>"><%= post.comments_count %></span>
            </div>
        </div>           
    </div>
    <div class="callPostRight"><a href="/postDetails?postId=<%= post.id %>">
        <div class="callPostTitle">
            <span><%= post.title %></span>
        </div>
        <div class="callPostText">
            <span><%= post.content %></span>
        </div>
        <div class="callPostHashtag">
            <span><%= post.hashtags %></span>
        </div>
    </a></div>
</div>
