<div class="callPost">
    <div class="callPostLeft">
        <div class="postWrittenDay">
            <span><%= post.created_at %></span>
        </div>
        <a href="/otherProfile">
            <div class="postWriterImg"  style="background-image: url('<%= post.profile_image %>');">
                <div class="writerFollowBT">팔로우</div>
            </div>
        </a>
        <div class="postWriterName alignment">
            <span><%= post.username %></span>
        </div>
        <div class="postStack">
            <div class="postLike alignment"><span class="material-symbols-outlined">thumb_up</span>
                <span><%= post.likes %></span>
            </div>
            <div class="postComments alignment"><span class="material-symbols-outlined">comment</span>
                <span><%= post.comments %></span>
            </div>
            <div class="postLove alignment"><span class="material-symbols-outlined">favorite</span>
                <span><%= post.loves %></span>
            </div>
        </div>
    </div>
    <div class="callPostRight"><a href="/postDetails">
        <div class="callPostTitle">
            <span><%= post.title %></span>
        </div>
        <div class="callPostText">
            <span><%= post.content %></span>
        </div>
        <div class="callPostHashtag">
            <span><%= post.hashtags %></span>
        </div>
    </a></div>
</div>
