<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    선택한 게시글 자세히 보기
    1.클릭한 게시글의 제목, 코드, 결과값, 태그를 DB에서 불러오기
    2.코멘트, 좋아요개수를 DB에서 불러오고 추가되거나 편집된 내용 저장
    3.본인이 작성한 게시글일 경우 '수정하기', '삭제하기' 포함하는 메뉴 버튼 추가
 -->

 <div class="postDetailBox">
    <div class="postInfo">
      <div class="detailUser">
        <div class="detailWriter">작성자 : <span><%= post.user_name %></span></div>
        <div class="detailDate">
          <% const formattedDate = new Date(post.created_at).toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul' }); %>
          <% const formattedTime = new Date(post.created_at).toLocaleTimeString('ko-KR', { timeZone: 'Asia/Seoul', hour12: false }); %>
          <span id="day1"><%= formattedDate %></span>&nbsp<span id="day2"><%= formattedTime %></span> 
        </div>
      </div>
      <!-- 게시물 수정 및 삭제 링크 (소유자에게만 표시) -->
      <div class="editPost_BT">
        <% if (isOwner) { %>
          <a href="/editPost/<%= post.id %>" class="editPostButton">게시글 수정</a>
          <a href="/deletePost/<%= post.id %>" onclick="return confirm('게시물을 삭제하시겠습니까?')">게시물 삭제</a>
        <% } %>
      </div>
      <span id="info_name">Title</span>
      <div class="detail detailTitle"><span><%= post.title %></span></div>

      <span id="info_name">Hashtag</span>
      <div class="detail detailHashtag"><span><%= post.hashtags %></span></div>

      <span id="info_name">Content</span>
      <div class="detail detailText"><span><%= post.content %></span></div>

      <span id="info_name">Code</span>
      <div class="detail detailCode"><span><%= post.code %></span></div>

      <span id="info_name">Input</span>
      <div class="detail detailInput"><span><%= post.input || "\"Input이 사용되지 않았습니다.\"" %></span></div>

      <span id="info_name">Result</span>
      <div class="detail detailOutput"><span><%= post.result %></span></div>
        
        <div class="detailComments">
            <table>
                <% if (comments.length > 0) { %>
                  <% comments.forEach(function(comment) { %>
                    <%- include('aComment', {comment: comment}); %>
                  <% }) %>
                  <% } else { %>
                    <p style="text-align: center;" color="var(--textColor2);">댓글이 없습니다.</p>
                  <% } %>               
            </table>
        </div>
        <div class="menuOpen">

        </div>
    </div>
</div>

<!-- jQuery CDN 추가 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Start of footer -->
<%-include('commentsFooter.ejs')-%>