<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    선택한 게시글 자세히 보기
    1.클릭한 게시글의 제목, 코드, 결과값, 태그를 DB에서 불러오기
    2.코멘트, 좋아요개수를 DB에서 불러오고 추가되거나 편집된 내용 저장
    3.본인이 작성한 게시글일 경우 '수정하기', '삭제하기' 포함하는 메뉴 버튼 추가
 -->

 <div class="postDetailBox">
    <div class="postInfo">
      <div class="detailUser">
        <div class="detailWriter">작성자 : <span><%= post.user_name %></span></div>
        <div class="detailDate"><span><%= post.created_at %></span></div>
      </div>
      <div class="detail detailTitle"><span><%= post.title %></span></div>
      <div class="detail detailHashtag"><span><%= post.hashtags %></span></div>
      <div class="detail detailText"><span><%= post.content %></span></div>
      <div class="detail detailCode"><span><%= post.code %></span></div>
      <div class="detail detailCode"><span><%= post.input %></span></div>
      <div class="detail detailOutput"><span><%= post.result %></span></div>
        
        <div class="separateLine"></div>
        <div class="detailComments">
            <table>
                <% if (comments.length > 0) { %>
                    <% comments.forEach(function(comment) { %>
                      <%- include('aComment', {comment: comment}); %>
                    <% }) %>
                    <% } else { %>
                      <p style="text-align: center;">댓글이 없습니다.</p>
                    <% } %>               
            </table>
        </div>
        <div class="menuOpen">

        </div>
    </div>
</div>

<!-- Start of footer -->
<%-include('commentsFooter.ejs')-%>