<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    계정 정보 확인
    DB에서 정보 불러오기
    1.이름/닉네임
    2.소개글
    3.작성한 게시글
    4.프로필 사진  
    5.'수정하기' 버튼 추가 (editProfile 이동)
-->

<div class="profileBox alignment">
    <div class="profileInfo">
        <div class="imgProfile alignment">
            <img src="<%= user.profile_image %>" alt="">
        </div>
        <div class="name alignment">
            <p><%= user.user_name %></p>
        </div>
        <div class="followInfo alignment">
            <div class="follow">
                <p>팔로우   <span>0</span></p>
            </div>
            <div class="following">
                <p>팔로잉   <span>0</span></p>
            </div>
        </div>
        <div class="follow_edit alignment">
            <a href="/editProfile">프로필 수정</a>
        </div>
        <div class="introduceText">
            <table>
                <tr><td><%= user.introduce %></td></tr>
                <tr><td><%= user.email %></td></tr>
            </table>
        </div>
    </div>
    <div class="myPost">
        <p>내가 작성한 게시글</p>
        <% if(posts.length > 0) { %>
            <% posts.forEach(function(post) { %>
                <%- include('aPost.ejs', {post: post}) %>
            <% }) %>
        <% } else { %>
            <p style="text-align: center;">작성한 게시글이 없습니다.</p>
        <% } %>
    </div>
    <div class="profileEmptyBox"></div>
</div>

<!-- Start of footer -->
<%-include('footer.ejs')-%>